@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


[role="tabpanel"] {
    display: none;
}

[role="tabpanel"].active,
[role="tabpanel"]:not(.hidden) {
    display: block;
}

body{
    font-family: poppins;
}

.wrapper .sidenav h1 span{
    color: orange;
    text-shadow: #f2f2f2;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper .sidenav a{
    color: #fff;
    text-decoration: none;
}
    
i{
    margin-right: 15px;
}

.wrapper .sidenav ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.wrapper .sidenav .logo-container {
    display: flex;
    align-items: center; 
    padding: 20px;
}

.wrapper .sidenav .logo-container img {
    max-width: 50px; 
    margin-right: 15px; 
    border-radius: 10px;
}

.wrapper .sidenav .logo-container h1 {
    font-size: 20px;
    color: #fff;
    line-height: 1.2; 
    margin: 0; 
}

.wrapper .sidenav{
    text-decoration: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background: #231F20;
}

.wrapper .sidenav h1{
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    margin-bottom: 50px;
}

.wrapper .sidenav ul li{
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.wrapper .sidenav .logout{
    color: red;
}


.wrapper .sidenav .social-media{
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
    display: flex;
}

.wrapper .sidenav .social-media a{
    text-decoration: none;
    margin: 0 10px;
    background: #575051;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

.wrapper .sidenav .social-media a:hover{
    transition: 1.5s;
    transform: rotate(360deg);
}

.wrapper .sidenav .social-media a i{
    margin: 0 auto;
}

.wrapper .main-content{
    width: 80vw;
    margin-left: 20vw;
}

section{
    height: 100vh;
    padding: 30px;
}

#section1{
    background: #f2f2f2;
    color: black;
}
#section2{
    background: #f2f2f2;
    color: black;
}
#section3{
    background: #f2f2f2;
    color: black;
}
#section4{
    background: #f2f2f2;
    color: black;
}
#section5{
    background: #f2f2f2;
    color: black;
}

#section6{
    background: #f2f2f2;
    color: black;
}

#sectio7{
    background: #f2f2f2;
    color: black;
}